<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cas.base.url</key>
	<string>http://cas.dev</string>
	<key>cas.receive.url</key>
	<string>https://cas2.nubic.northwestern.edu/cas-proxy-callback-staging/receive_pgt</string>
	<key>cas.retrieve.url</key>
	<string>https://cas2.nubic.northwestern.edu/cas-proxy-callback-staging/retrieve_pgt</string>
</dict>
</plist>
